.tn{
    position: absolute;
    top: 0;
    right: 0;
    width: 60px;
    height: 60px;
    background:purple; 
    cursor: pointer;
    z-index:2;
}

body{
    background-color: salmon;
}


.hide{
display: none;
}