*{
    margin: 0;
    padding: 0;
    box-sizing: border-box; 
    font-family:'Rubik', sans-serif;
}

body {
    background:url("./opt1_portrait.jpg");
    background-size: cover;  
    min-height: 100vh;
    overflow: hidden;
    z-index: 0;
}

.page-wrapper {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    min-width: 100vw;
    background-size: cover;
    background-image: linear-gradient(to bottom, rgba(17, 101, 197, 0.233), rgba(49, 153, 23, 0.363));
}

div {
    font-family: 'Rubik', sans-serif;
}

.navigation{
    position:fixed;
    width: 60px;
    height: 100%;
    background:rgba(255, 255, 255, 1.0);
    transition: 0.5s;
    z-index:1;
    display: block;
    padding-right: 10px;
  }
  
.navigation:hover,
.navigation.active{
      width: 300px;
}
  
.background{
      background-color:  rgba(255, 255, 255, 0.747); 
    
}
  
#logo{
    max-width: 20%;
    width: 20%;
    position: relative;
    top: -10px;
    margin-top: 10%;
}

.sidebar-menu a {
  margin: 25px;
  font-weight: 900;
  font-size: 2rem;
  white-space: nowrap;
}

.sidebar-link {
  display: inline;
  padding: 10px;
  white-space: nowrap;
}

.sidebar-brand {
  margin: 0;
}

.container-fluid {
  font-family: 'Rubik', sans-serif;
  font-weight: 800;
}

#artistInfo {
    font-weight: 200;
    text-align: justify;
}

#artistName {
    text-transform: uppercase;
    color: #00000099;
    font-weight: 900;
    font-size: 2rem;
}

.h2 {
    font-weight: 900 1;
    font-size: 2rem;
}

h3 {
    font-weight: 900;
    font-size: 2rem;
}

#albumTitle h3 {
    font-weight: 900;
    font-size: 2rem;
    padding: 30px 0px 0px 30px;
    margin: 0px;
    color: #00000099;
}

#twitter p{
    font-weight: 300;
}

#twitter h4 {
    font-weight: 600;
    font-size: 1.3rem;
    text-transform: uppercase;
    text-align: right;
}

.hide{
    display:none;
}

.toggle{
    position: fixed;
    top: 0;
    right: 0;
    width: 60px;
    height: 60px;
    background:purple; 
    cursor: pointer;
    z-index:2;
}

.toggle.active{
    background: purple
}

.toggle:before{
    content: "☰";
    font-family: sans-serif;
    position: absolute;
    width:100%;
    height:100%;
    line-height:60px;
    text-align:center;
    font-size: 24px;
    color: white;
}

.toggle.active:before{
content:"✖";
}

.content-wrapper{
    margin-left: 60px;
    width:1460px;
}

@media (max-width:400px) {
  .navigation {
    left: -60px;
  }
  .navigation.active {
  left: 0px;
  width:100%;
  }
}