body {
    background:url("./background.jpg");
    background-size: cover;  
    min-height: 100vh;
    z-index: 0;
}

div {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:'Poppins',sans-serif;
}

.container-fluid {
  font-family: 'Rubik', sans-serif;
  font-weight: 800;
}

.sidebar-menu a {
  margin: 25px;
}

.sidebar-brand {
  margin: 0;
}

.navigation{
  position:fixed;
  width: 60px;
  height: 100%;
  background:rgba(255, 255, 255, 0.747);
  transition: 0.5s;
  z-index:1;
  display: block;
  padding-right: 10px;
}

.navigation:hover,
.navigation.active{
    width: 300px;
}

.navigation ul{
position: absolute;
top:0;
left:0;
width: 100%;
}

.navigation ul li{
    position: relative;
    width: 100%;
    list-style: none;
    padding: 0 25px;
}

.navigation ul li:hover{
    background: purple;
}

.navigation ul li a audio{
    position: relative;
    display: block;
    width: 100%;
    display: flex;
    text-decoration: none;
    color:purple;
}

.navigation ul li a audio .icon{
    position: relative;
    display: block;
    min-width: 60px;
    height: 60px;
    line-height: 60px;
    text-align: center;
}

.navigation ul li a audio .icon .fa{
    font-size: 24px;
}

.navigation ul li a audio .title{
    position: relative;
    display: block;
    padding: 0 10px;
    height: 60px;
    line-height: 60px;
    text-align: start;
    white-space: nowrap;
}

#searchBox{
    margin: auto;
    margin-top: 10%;
    max-width:50%;
    width: 50%;
    border: 3px solid green;         
}

.background{
    background-color:  rgba(255, 255, 255, 0.747); 
  
}

#logo{
    max-width: 20%;
  width: 20%;
  position: relative;
  top: -10px;
  margin-top: 10%;
}

#searchButton{
    max-width: 45%;
    width: 45%;
    margin-top: 10%;
    
}

.hide{
    display:none;
}

.toggle{
    position: absolute;
    top: 0;
    right: 0;
    width: 60px;
    height: 60px;
    background:purple; 
    cursor: pointer;
    z-index:2;
}

.toggle.active{
    background: purple
}

.toggle:before{
    content: "☰";
    font-family: sans-serif;
    position: absolute;
    width:100%;
    height:100%;
    line-height:60px;
    text-align:center;
    font-size: 24px;
    color: white;
}

.toggle.active:before{
content:"✖";
}

.content-wrapper{
    margin-left: 60px;
    width:1460px;
}

@media (max-width:400px) {
  .navigation {
    left: -60px;
  }
  .navigation.active {
  left: 0px;
  width:100%;
  }
  .content-wrapper {
    margin-left: 0;
  }
}


